{% extends 'base.html' %} #расширение от родительского блока

{% block content %}
{{ super() }}
<hr>
<div class="cont">
<h2>Почтовый адрес:</h2>
<p>Российская Федерация, 220033, Сургут, Набережный проспект, 23/1</p>

<h2>Место нахождения:</h2>
<p>Российская Федерация, г.Сургут</p>

<h2>Единый справочно-информационный центр:</h2>
<p>Телефон: +7 (3462)  51-23-41</p>

<h2>Для официальной корреспонденции:</h2>
<p>Телефон: +7 (3462)  52-24-44 Факс: +7 (3462)  52-24-45 Электронная почта: postman@nnn.ru</p>

<h2>Для акционеров:</h2>

<p>Телефон Горячей линии для акционеров ПАО «N»: 8-800-200-22-11 (звонок по России бесплатный) и +7 (3462)  51-21-45

Факс: +7 (3462)  52-24-46

Электронная почта: axion@nnn.ru
</p>
</div>

{% endblock %}