<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="text">
<h1 >Правила генератора паролей</h1>
<hr>
<p> Вы попали на генератор паролей, который формирует пароль по вашему запросу.
    Пароль может содержать в себе верхний регистр, цифры, спец.символы. чтобы сгенерировать пароль необходимо выбрать содержимое и нажать на кнопку "Сгенерировать пароль"</p>
</div>
<p><a href="{% url 'home' %}">Вернуться на главную</a></p>

</body>
</html>